    <div class="form-group mx-5 my-3">
        {{ form_row(userForm.nom) }}
    </div>
    <div class="form-group mx-5 my-3">
        {{ form_row(userForm.prenom) }}
    </div>
    <div class="form-group mx-5 my-3">
        {{ form_row(userForm.date_naissance) }}
    </div>
    <div class="form-group mx-5 my-3">
        {{ form_row(userForm.adresse) }}
    </div>
    <div class="form-group mx-5 my-3">
        {{ form_row(userForm.telephone) }}
    </div>
    <div class="form-group mx-5 my-3">
        {{ form_row(userForm.photo) }}
    </div>
        <img id="compte_image" src="photos/{% if utilisateur is defined and utilisateur != null %}{{ utilisateur.photo }}{% else %}0.png{% endif %}" height="140px"/>
