<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
            {# <link rel="stylesheet" href="{{ asset('styles/app.scss') }}"> #}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light container-fluid">
            <div class="container">
                <img id="logo" src={{asset('images/logo.png')}} height="80px">
                <a class="navbar-brand" href="#">EcoRide</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('accueil') }}">Accueil</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="#">Covoiturage</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
                {# <a><i class="bi bi-person-fill login-icon"></i></a> #}
                {% if email is not defined %}
                    <a href="#"><i class="bi bi-person-fill login-icon"></i></a>
                {% elseif email == '' %}
                    <a href="{{ path('app_login') }}"><i class="bi bi-person-fill login-icon"></i></a>
                {% else %}
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-person-fill login-icon"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="dropdown-item">Compte</a></li>
                            <li><a href="{{ path('app_logout') }}" class="dropdown-item">Déconnexion</a></li>
                        </ul>
                    </div>
                    <span class="mx-3">{{ email }}</span>
                {% endif %}
            </div>
        </nav>
        <div class="container-fluid">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
