
    <span class="input-group-text my-1">Choisissez un itinéraire</span>

    <div class="input-group my-1">
        <label class="input-group-text" for="_date">Date</label>
        {{ form_widget(covoiturageForm.date_filtre) }}
    </div>

    <div class="input-group my-1">
        <label class="input-group-text" for="_depart">Départ</label>
        {{ form_widget(covoiturageForm.lieu_depart) }}
    </div>

    <div class="input-group my-1">
        <label class="input-group-text" for="_arrivee">Arrivée</label>
        {{ form_widget(covoiturageForm.lieu_arrivee) }}
    </div>

    <datalist id="list-ville">
        {% for ville in villes %}      
            <option data="{{ ville.id }}" value="{{ ville.libelle }}"></option>
        {% endfor %}
    </datalist>
